mat-form-field {
  width: 45%;
  &.full-width {
    width: 80%;
    margin-left: 10%;
  }
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-card {
  margin: 20px 0;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

mat-card-actions {
  text-align: center;
  padding-bottom: 10px;
}
