<mat-card>
  <mat-card-title>Employés</mat-card-title>
  <mat-spinner *ngIf="loading$ | async"></mat-spinner>
  <mat-nav-list *ngIf="employees$ | async as employees">
    <a *ngFor="let employee of employees" mat-list-item [routerLink]="employee.id.toString()">
      <img [src]="employee.imageUrl" [alt]="employee.lastName" matListAvatar>
      <h3 matLine>{{ employee.firstName }} {{ employee.lastName }}</h3>
      <p matLine>{{ employee.job }} chez {{ employee.company }}</p>
    </a>
  </mat-nav-list>
</mat-card>
